<!-- index.html -->
    <!DOCTYPE html>

    <!-- define angular app -->
    <html ng-app="recoApp">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"></link>
      <link rel="stylesheet" href="css/angular-chart.min.css"></link>
      <link rel="stylesheet" href="css/styles.css"></link>

      <!-- SPELLS -->
      <!-- load angular via CDN -->
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
      <script src="https://apis.google.com/js/client.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
      <script src="js/chart.min.js"></script>
      <script src="js/angular-chart.min.js"></script>
      <script src="js/script.js"></script>

    </head>

    <!-- define angular controller -->
    <body ng-controller="mainController">

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
      <div class="row">
      <div class="search_input input-group col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <input class="form-control" id="channel_id" type="text" placeholder="Search by Channel ID...">
        <span class="input-group-btn">
          <button class="btn btn-default" id="get_channel" ng-click='handleClick()'>Submit</button>
        </span>
      </div>
      </div>
      <div class="row nav-links">
        <div class="col-xs-4 col-sm-4 col-md-4 no-margin">
          <button class="nav-link-button" id="list_view_button" ng-click="change_view('list')">View List</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 no-margin">
          <button class="nav-link-button" id="table_view_button" ng-click="change_view('table')">View Table</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 no-margin">
          <button class="nav-link-button" id="chart_view_button" ng-click="change_view('chart')">View Chart</button>
        </div>
      </div>
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
    </div>
    </body>
    </html>
